$def with(datos)
<a href="/"><h1>Delete</h1></a>


<form method="POST">
  <label for="nombre_libro">Nombre libro</label>
  <input type="text" readonly="true" value="$datos.nombre_libro" id="nombre_libro" name="nombre_libro">
  <br>
  <label for="autor">Autor</label>
  <input type="text" readonly="true" value="$datos.autor" id="autor" name="autor">
  <br>
  <label for="genero">Genero</label>
  <input type="text" readonly="true" value="$datos.genero" id="genero" name="genero">
  <br>
  <label for="numero_paginas">Numero Paginas</label>
  <input type="text" readonly="true" value="$datos.numero_paginas" id="numero_paginas" name="numero paginas">
  <br>
  <label for="numero_volumenes">Numero Volumenes</label>
  <input type="text" readonly="true" value="$datos.numero_volumenes" id="numero_volumenes" name="numero volumnes">
  <br>
  <label for="editorial">Editorial</label>
  <input type="text" readonly="true" value="$datos.editorial" id="editorial" name="editorial">
  <br>
  <label for="anio_publicacion">Anio Publicacion</label>
  <input type="text" readonly="true" value="$datos.anio_publicacion" id="anio_publicacion" name="anio_publicacion">
  <br>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>