$def with(datos)

<h1>Libro</h1>
<a href="/insert"><center><button type="submit" class="btn btn-primary">Insertar Libro</button></center></a>
<hr>
<table class="table">
        <thead class="thead-dark">
          
          <tr>
            <th scope="col">Nombre Libro</th>
            <th scope="col">Autor</th>
            <th scope="col">Genero</th>
            <th scope="col">Numero Paginas</th>
            <th scope="col">Numero Volumen</th>
            <th scope="col">Editorial</th>
            <th scope="col">Anio Publicacion</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
                $for row in datos:
                <tr>
                    <td>$row.nombre_libro</td>
                    <td>$row.autor</td>
                    <td>$row.genero</td>
                    <td>$row.numero_paginas</td>
                    <td>$row.numero_volumenes</td>
                    <td>$row.editorial</td>
                    <td>$row.anio_publicacion</td>
                    <td><a href="/delete/$row.nombre_libro">Delete</a></td>
                    <td><a href="/update/$row.nombre_libro">Update</a></td>
                </tr>
        </tbody>
    
      </table>
